@import '../../node_modules/materialize-css/sass/materialize.scss';
@import './colors';
@import './pattern';

* {
  box-sizing: border-box;
}

body {
  background-color: $grey-lighten-3;
  color: $grey;
  margin: 0;
  width: 100vw;
  height: 100vh;
  min-width: 375px;
}

h1, h2, h3, h4, h5, h6 {
  color: $amber-darken-2;
  margin-top: 0;
  margin-bottom: 0;
}

.dropdown-content {
  li {
    span {
      color: $blue;
    }
  }
}

.app {
  min-height: 100vh;
  @extend .pattern;

  .title-wrapper {
    background-color: $amber-darken-2;

    display: flex;
    justify-content: center;
    padding: 10px;

    .app-title {
      color: $grey-lighten-4;
      font-weight: 500;
    }
  }

  .loading-wrapper {
    display: flex;
    justify-content: center;
    
    .loading-header {
      margin: 15px 0;

      .spinning-hourglass {
        margin-left: 5px;
        animation: spinning 2s infinite;
        display: inline-block;
      }

      @keyframes spinning {
        from {
          transform: rotate(0deg);
        }
        
        to {
          transform: rotate(360deg);
        }
      }
    }
  }

  .brewery-data {
    margin-top: 15px;

    .load-more-wrapper {
      display: flex;
      justify-content: center;

      .btn-large {
        color: $amber-darken-1;
        background-color: white;
        margin-bottom: 20px;
      }
    }

    @media screen and (max-width: 900px) {
      .brewery-name {
        text-align: center;
      }
    }
  }

  .filters {
    width: 95%;
    margin: 0 auto;

    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }

  .brewery-list {
    width: 95%;
    margin: 0 auto;

    li {
      .card {
        padding: 15px;
        cursor: pointer;
      }

      .brewery-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .brewery-likes {
          margin-right: 5px;
          vertical-align: 30%;
        }

        .favorite-marker {
          font-size: 2em;
          color: $red-darken-1;

          &.not-filled {
            color: $grey;
          }
        }

        h4 {
          font-weight: 500;
        }
      }

      @media screen and (max-width: 900px) {
        .brewery-top {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }

      margin-bottom: 10px;

      .brewery-basic-info {
        display: flex;
        margin-top: 5px;

        @media screen and (max-width: 900px) {
          justify-content: center;
        }

        div {
          margin-right: 20px;

          .material-icons {
            vertical-align: middle;
          }
        }

        .brewery-location, .brewery-type {
          @media screen and (min-width: 900px) {
            min-width: 200px;
          }

          span {
            line-height: 24px;
          }
        }

        .brewery-type {
          .material-icons {
            margin-right: 5px;
          }
        }
      }

      .brewery-additional-data {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;

        .data-left {
          min-width: 500px;

          @media screen and (max-width: 600px) {
            min-width: 100%;
          }
        }

        .data-right {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin: 0 auto;

          min-height: 300px;
          min-width: 305px;
        }

        @media screen and (max-width: 900px) {
          justify-content: center;
          flex-direction: column;

          .brewery-address {
            display: flex;
            justify-content: center;
          }
          .data-right {
            min-height: 200px;
          }
        }

        .brewery-address {
          margin: 0 20px;
          p {
            font-size: 1.2em;
            margin: 0;
          }
        }
      }
    }
  }
}