@import '../../node_modules/materialize-css/sass/materialize.scss';
@import './colors';
@import './pattern';

* {
  box-sizing: border-box;
}

body {
  background-color: $grey-lighten-3;
  color: $grey;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  color: $amber-darken-2;
  margin-top: 0;
  margin-bottom: 0;
}

.dropdown-content {
  li {
    span {
      color: $blue;
    }
  }
}

.app {
  @extend .pattern;

  .title-wrapper {
    background-color: $amber-darken-2;

    display: flex;
    justify-content: center;
    padding: 10px;

    .app-title {
      color: $grey-lighten-4;
      font-weight: 500;
    }
  }

  .loading-wrapper {
    display: flex;
    justify-content: center;
    
    .loading-header {
      margin: 15px 0;

      .spinning-hourglass {
        margin-left: 5px;
        animation: spinning 2s infinite;
        display: inline-block;
      }

      @keyframes spinning {
        from {
          transform: rotate(0deg);
        }
        
        to {
          transform: rotate(360deg);
        }
      }
    }
  }

  .brewery-data {
    margin-top: 15px;

    .load-more-wrapper {
      display: flex;
      justify-content: center;

      .btn-large {
        background-color: $amber-darken-1;
        margin-bottom: 20px;
      }
    }
  }

  .filters {
    width: 95%;
    margin: 0 auto;
  }

  .brewery-list {
    width: 95%;
    margin: 0 auto;

    li {
      .card {
        padding: 10px;
      }
      h4 {
        font-weight: 500;
      }

      margin-bottom: 10px;

      .brewery-basic-info {
        display: flex;
        margin-top: 5px;

        div {
          margin-right: 20px;

          .material-icons {
            vertical-align: middle;
          }
        }

        .brewery-location, .brewery-type {
          span {
            line-height: 24px;
          }
        }

        .brewery-type {
          .material-icons {
            margin-right: 5px;
          }
        }
      }

      .brewery-additional-data {
        display: flex;
        justify-content: space-between;

        .data-left {
          display: flex;
          flex-direction: column;
          justify-content: center;

          min-height: 300px;
        }

        .brewery-address {
          p {
            font-size: 1.2em;
            margin: 0;
          }
        }
      }
    }
  }
}