@import '../../node_modules/materialize-css/sass/materialize.scss';
@import './colors';

body {
  background-color: $grey-lighten-3;
  color: $grey;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  color: $amber-darken-2;
  margin-top: 0;
  margin-bottom: 0;
}

.app {
  .title-wrapper {
    background-color: $amber-darken-2;

    display: flex;
    justify-content: center;
    padding: 10px;

    .app-title {
      color: $grey-lighten-4;
      font-weight: 500;
    }
  }

  .loading-wrapper {
    display: flex;
    justify-content: center;
    
    .loading-header {
      margin: 15px 0;

      .spinning-hourglass {
        margin-left: 5px;
        animation: spinning 2s infinite;
        display: inline-block;
      }

      @keyframes spinning {
        from {
          transform: rotate(0deg);
        }
        
        to {
          transform: rotate(360deg);
        }
      }
    }
  }

  .brewery-data {
    margin-top: 15px;

    .load-more-wrapper {
      display: flex;
      justify-content: center;

      .btn-large {
        background-color: $amber-darken-1;
        margin-bottom: 20px;
      }
    }
  }

  .brewery-list {
    width: 95%;
    margin: 0 auto;

    li {
      .card {
        padding: 10px;
      }
      h4 {
        font-weight: 500;
      }

      margin-bottom: 10px;

      .brewery-location {
        margin-top: 5px;

        .material-icons {
          vertical-align: middle;
        }
        span {
          line-height: 24px;
        }
      }
    }
  }
}